.cards{    
    width: 100%;    
}

.book-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.book-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    color: #B4AFAF;
}

.book-img {
    border-radius: 8px;

    @media only screen and (min-width: 375px) {
        width: 218px;
        height: 316px;
    }
    
    @media only screen and (min-width: 768px) {
        width: 180px;
        height: 256px;
    }
}