.cards {
    width: 100%;
};

.category-books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media only screen and (min-width: 375px) {
        gap: 25px;
    };

    @media only screen and (min-width: 768px) {
        gap: 24px;
    };
};

.see-more-btn-container {
    display: flex;
    justify-content: flex-end;
};

.see-more-btn {
    display: block;

    font-weight: 700;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    width: 124px;
    height: 46px;
    padding: 10px;
    border-radius: 40px;
    border: solid 2px #4F2EE8;
    background-color: transparent;
}

.category-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #B4AFAF;
};

.one-book-container {
    width: 335px;
    height: 535px;
    margin-bottom: 8px;

    @media only screen and (min-width: 768px) {
        width: calc((100% - 48px) / 3);
        height: 366px;
        margin-bottom: 20px;
    }

    @media only screen and (min-width: 1428px) {
        width: calc((100% - 96px) / 5);
        height: 306px;
        margin-bottom: 32px;
    }
};

.book-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
};

.book-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    color: #B4AFAF;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
};

.book-img {
    border-radius: 8px;
    width: 100%;
};


// .visually-hidden {
//     position: absolute;

//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;

//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
// }

.col-3, .col-4 {
    @media only screen and (max-width: 767px) {
        display: none;
    }    
}


.col-1, .col-2{
    @media only screen and (max-width: 1427px) {
        display: none;
    }    
}

