.categoryes {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.02em;
  overflow-y: auto;
  padding-right: 20px;

  /* 320 < Screen < 374 */
  @media only screen and (max-width: 374px) {
    max-height: 228px;
    font-size: 16px;
  }

/* 375 < Screen < 374 */
@media only screen and (min-width: 375px) {
  max-height: 228px;
  font-size: 16px;
}

/* 768 > */
  @media only screen and (min-width: 768px) {
    width: 374px;
    max-height: 472px;
    font-size: 18px;
  }
}
/**
  |============================
  | scrolbar 
  |============================
*/

.categoryes::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: px;
  height: 114px;
}

.categoryes::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 12px;
}

.categorie-list {
  gap: 32px;
}

.categorie-item {
  height: 30px;
  margin-bottom: 28px;
  padding-top: 0;
  padding-bottom: 0;
}


.categorie-btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey-color);
  background-color: transparent;
  border: none;
  text-align: left;
  height: 30px;
  // margin-bottom: 32px;
}

.categorie-btn.active {
  color: var(--violet-color);
  text-transform: uppercase;
}

.categorie-btn:hover,
.categorie-btn:focus {
  color: var(--violet-color);
  text-transform: uppercase;
  font-size: 15px;
}
