.categoryes {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.8;
    letter-spacing: 0.02em;
    overflow-y: auto;
    padding-right: 20px;
    
    
    
    @media only screen and (min-width: 375px) {
       max-width: 335px;
       max-height: 228px;
       margin: 40px 0;
       font-size: 16px;
    }

    @media only screen and (min-width: 768px) {
        max-width: 309px;
        max-height: 472px;
        margin: 40px 32px;
        font-size: 18px;
    }

    @media only screen and (min-width: 1440px) {
        max-width: 328px;
       max-height: 472px;
       margin: 40px 0;
       font-size: 18px;
    }




}

.categorie-list {
    
}

.categorie-item {
    
}

.categorie-btn {
    color: var(--grey-color);
    background-color: var(--white-color);
    border: none;
    text-align: left;
}

.categorie-btn:hover,
.categorie-btn:focus {
    color: var(--violet-color);
    text-transform: uppercase;
}