@import '~node_modules/modern-normalize/modern-normalize.css';

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    width: 1440px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    
}

.main-wrapper{
    display: flex;
    
}

.sidebar{
    width: 356px;
    border: 1px solid #000;
}