.body-dark{

    background-color: var(--black-light-color);
    color: var(--white-color);
    transition: all 0.4s;

    
}
// .body-dark{
//   *{
//     transition: all 1s;
//   }
// }


/**
  |============================
  | dark style HEADER
  |============================
*/
.body-dark{
.header{
    background: var(--black-color);
    color: var(--white-color);
    border: 1.5px solid var(--white-color);
}

.logo {

    color: var(--white-color);
}


.menu-link{
    color: var(--white-color);

    &:hover{
    color: var(--black-color);
    }

    &:focus{
    color: var(--black-color);
    }
    

}

.switch{
background-color: var(--black-color);

}
.icon-shoping-list{
fill: var(--white-color);
}
}
/**
  |============================
  | dark theme SIDEBAR
  |============================
*/
.body-dark {
    .categoryes::-webkit-scrollbar-thumb {
        background: rgb(17, 17, 17, 0.6);
    
      }
      
      .categorie-btn {
        color: rgb(255, 255, 255, 0.6);
      }
      
      .categorie-btn.active {
        color: var(--yellow-color);
        text-transform: uppercase;
      }

      .categorie-btn:hover,
      .categorie-btn:focus {
        color: var(--yellow-color);
      }
}


/**
  |============================
  | dark theme MODAL
  |============================
*/
.body-dark{
    .modal{
        border: 2px solid var(--white-color);
        background-color: var(--black-light-color);
    }
    .modal-close-btn{
      filter:brightness(0) invert(1);
    }

    .add-to-shoping-list{
        background-color: var(--black-light-color);
        color: var(--white-color);
    }
  .store-1{
    filter:brightness(0) invert(1);

    &:hover{
        filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
    }
  }
  .store-2{
    filter: grayscale(100%);
    &:hover{
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  }
  }
  .store-3{
    filter: grayscale(100%);
    &:hover{
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  }
  }
  .text-info{
    color: rgba(255, 255, 255, 0.50);
  }
}

/**
  |============================
  | dark styles SHOPPING LIST
  |============================
*/

.body-dark{
  .shopping_list-title{
    color: var(--white-color);
   
  }
  .shopping_list-empty-text{
    color: rgba(255, 255, 255, 0.60);
  }
  .shop-list-item-title{
    color: var(--white-color);
  }
  .shop-list-item-category{
    color: var(--grey-color);
  }
  .shop-list-item-description{
    color: var(--white-color);
  }
  .shop-list-item-author{
    color: var(--grey-color);
  }
}

/**
  |============================
  | dark styles CARDS
  |============================
*/

.body-dark{
  .general-title{
    color: var(--white-color);

  }
  .see-more-btn{
    color: var(--white-color);
  }
}