.body-dark{
    background-color: var(--black-light-color);
    color: var(--white-color);
}


/**
  |============================
  | dark style HEADER
  |============================
*/
.body-dark{
.header{
    background: var(--black-color);
    color: var(--white-color);
    border: 1.5px solid var(--white-color);
}

.logo {

    color: var(--white-color);
}


.menu-link{
    color: var(--white-color);

    &:hover{
    color: var(--black-color);
    }

    &:focus{
    color: var(--black-color);
    }
    

}

.switch{
background-color: var(--black-color);

}
.icon-shoping-list{
fill: var(--white-color);
}
}
/**
  |============================
  | dark theme SIDEBAR
  |============================
*/
.body-dark {
    .categoryes::-webkit-scrollbar-thumb {
        background: rgb(17, 17, 17, 0.6);
    
      }
      
      .categorie-btn {
        color: rgb(255, 255, 255, 0.6);
      }
      
      .categorie-btn:hover,
      .categorie-btn:focus {
        color: var(--yellow-color);
      }
}