.footer{
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.footer-container{
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-footer{
background-color: transparent;
border: none;
}

.heart {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 40px;
      height: 60px;
      background: var(--violet-color);
      border-radius: 50px 50px 0 0;
    }
    
    &:before {
      left: 60px;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    
    &:after {
      left: 20px;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
  }
  
  .heart-bg {
    animation: heart-anim 1.5s linear .4s infinite;
    left: 50%;
    &:before,
    &:after {
      background-color: #4f2ee84d;
    }
  }
  
  .heart-main {
    animation: pounding .7s linear infinite alternate;
  }
  
  @keyframes pounding {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.7);
    }
  }
  
  @keyframes heart-anim {
    45% {
      transform: scale(0.5);
    }
    
    50%{
        transform: scale(0.7);
    }

    52% {
      transform: scale(0.8);
    }
    55% {
      transform: scale(0.9);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }


  .modal-our-team{

  }

  .team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .team-item{

  }

  .team-name{
font-size: 18px;
font-weight: 700;
  }
  .team-position{
  color: var(--grey-color);
  font-size: 14px;
  }