.header {
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}

.part-two {
  display: none;
  position: relative;
 
  // gap: 24px;
  //   top: -15px;
  @media only screen and (min-width: 768px) {
    display: flex;
   }
}

.logo {
  display: inline-flex;
  // height: 28px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: #000;
  font-weight: bold;
  margin-right: 144px;

  @media only screen and (min-width: 768px) {
    margin-right: 40px;
   }
}

.part-one {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu {

  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;

  display: none;
  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    align-items: center;
  }
 
}

.menu-item {
  padding-top: 14px;
  padding-bottom: 14px;
}

.menu-link {
  color: #111;
  display: flex;
  align-items: center;
}

.icon-shoping-list {}

.menu-link:hover,
.menu-link:focus {
  color: var(--violet-color);
}

// ____________________________swicher
.switch {
  display: inline-block;
  position: relative;
  min-width: 41px;
  height: 21px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 36px;
  top: 1px;

}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;

  background-image: linear-gradient(to bottom, var(--violet-color), #ecebeb);
}

.switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  height: 18px;
  width: 18px;
  border-radius: 34px;

  transition: 0.4s;

  background-color: #e8e6e6;
}

.theme:focus+.switch-slider {
  box-shadow: 0 0 2px #000;
}

.theme:checked+.switch-slider {
  background-image: linear-gradient(to bottom, var(--violet-color), #686868);
  transition: background-image linear-gradient(to bottom, var(--violet-color), #686868);
}

.theme:checked+.switch-slider::before {
  transform: translateX(19px);
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
}

// __________________________________________________________________________

.registration {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1.5px solid #000;
  width: 184px;
  height: 48px;
  background-color: var(--violet-color);
  border-radius: 18px;
  color: var(--white-color);
}

.header__registr-icon {
  position: relative;
  top: 1px;
  right: 14px;
}

.registration:hover,
.registration:focus {
  color: var(--black-color);
  background-color: var(--white-color);
  transition: 0.4s;
}

.log-out {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1.5px solid #000;
  width: 118px;
  height: 48px;
  background-color: var(--white-color);
  border-radius: 18px;
}

.header__unregistr-icon {
  position: relative;
  top: 1px;
  right: 14px;
}

.log-out:hover,
.log-out:focus {
  background-color: var(--violet-color);
  color: var(--white-color);
  transition: 0.4s;
}

.log-desc-tab {
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;

  display: flex;
  justify-content: space-between;
  width: 184px;
  height: 45px;
  border: none;
  border-radius: 37px;
  align-items: center;
  background-color: var(--violet-color);
}

@media only screen and (min-width: 375px) {}

// @media only screen and (min-width: 768px) {
//   .menu-icon {
//     display: none;
//   }

//   .close-icon {
//     display: none;
//   }

//   .log-out {
//     display: none;
//   }
//   .registration {
//     display: flex;
//   }

//   .container-mobile {
//     display: none;
//   }

//   .log-desc-tab {
//     display: none;
//   }

//   .logo {
//     display: flex;
//     align-items: center;
//   }

//   .part-one {
//     display: flex;
//     gap: 40px;
//   }

//   .menu {
//     display: flex;
//     margin-right: 101px;
//   }

//   .switch {
//     margin-right: 24px;
//   }
// }

// @media only screen and (min-width: 1440px) {
//   .menu-icon {
//     display: none;
//   }

//   .part-one {
//     display: flex;
//     gap: 92px;
//     height: 28px;
//   }

//   .close-icon {
//     display: none;
//   }

//   .log-out {
//     display: none;
//   }

//   .menu {
//     display: flex;
//     margin-right: 745px;
//   }

//   .switch {
//     margin-right: 24px;
//   }

//   .container-mobile {
//     display: none;
//   }

//   .log-desc-tab {
//     display: none;
//   }
// }