.basicLightbox {
  height: 100%;
  overflow: scroll;

  @media only screen and (max-width: 374px) and (max-height: 584px) {
    align-items: start;
  }
}

.js-modal {
  position: relative;
}

.modal {
  width: 312px;
  border: 1px solid var(--black-color);
  border-radius: 18px;
  background-color: var(--white-color);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 18px;
  padding-right: 18px;

  @media only screen and (min-width: 375px) {
    width: 335px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media only screen and (min-width: 768px) {
    position: static;
    width: 579px;
    min-height: 465px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal-info {
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.modal-close-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12;
  right: 12;
  position: absolute;
  border: none;
  background: transparent;

  transition: 400ms;

  @media only screen and (min-width: 375px) {
    top: 16;
    right: 16;
  }

  @media only screen and (min-width: 768px) {
    top: 20;
    right: 24;
  }
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  transform: scale(1.25);
}

.modal-close-svg {
  width: 16px;
  height: 16px;

  @media only screen and (min-width: 375px) {
    width: 18px;
    height: 18px;
  }
  @media only screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }
}

.book-image {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 260px;
  border: 1px solid;
  border-color: rgba($color: #171717, $alpha: 0.5);
  border-radius: 8px;
  margin-bottom: 14px;

  @media only screen and (min-width: 375px) {
    width: 287px;
    height: 408px;
    margin-left: 0;
    margin-right: 0;
  }

  @media only screen and (min-width: 768px) {
    width: 192px;
    height: 281px;
    margin-bottom: 40px;
    margin-right: 24px;
  }
}

.book-info {
  @media only screen and (min-width: 768px) {
    display: block;
  }
}

.title {
  font-size: 16px;
  margin-bottom: 4px;

  @media only screen and (min-width: 375px) {
  }

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.author {
  font-size: 12px;
  margin-bottom: 16px;
  font-style: italic;
  color: #b4afaf;

  @media only screen and (min-width: 375px) {
    margin-bottom: 18px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 12px;
  @media only screen and (min-width: 375px) {
    margin-bottom: 14px;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.buy-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.buy-list > li {
  filter: grayscale(100%);
}

.buy-list > li:hover,
.buy-list > li:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  transition: var(--transition);
}
.add-to-shoping-list {
  min-width: 211px;
  height: 46px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  border: 2px solid transparent;
  color: var(--black-color);
  border-color: var(--violet-color);

  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 19px;
  padding-left: 19px;
  display: block;

  transition: var(--transition);

  @media only screen and (max-width: 374px) {
      font-size: 12px;
  }

  @media only screen and (min-width: 375px) {
    min-width: 211px;
    height: 46px;
    border-radius: 24px;
    padding-right: 21px;
    padding-left: 21px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 18px;
    width: 499px;
    height: 64px;
    border-radius: 32px;
  }
}

.add-to-shoping-list:hover,
.add-to-shoping-list:focus {
  @media only screen and (min-width: 1440px) {
    background-color: var(--violet-color);
    color: var(--white-color);
  }
}

.text-info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 6px;
  font-size: 10px;
  width: 242px;
  margin-top: 7px;
  letter-spacing: -0.04em;
  color: rgba($color: #171717, $alpha: 0.5);

  @media only screen and (min-width: 375px) {
    margin-top: 8px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 12px;
    width: 324px;
    height: 28px;
  }
}

.is-hidden {
  display: none;
}
