.modal-uath {
  padding: 36px;
  border-radius: 18px;
  background-color: white;
}

.js-modal-auth {
}
.modal-uath {
}
.modal-uath-cls-btn {
}
.modal-close-svg {
}
.signin-form {
}
.js-signin-form {
}
.contacts-feedback {
}
.log-name {
}
.log-mail {
}
.log-password {
}
.sing-btn {
}
.sign {
}
