.modal-uath {
  padding: 24px;
  border-radius: 18px;
  background-color: white;
}

.userdata-input{
  display: block;
  width: 200px;  
  margin-bottom: 15px;
}

.js-modal-auth {
}
.modal-uath {
}
.modal-uath-cls-btn {
}
.modal-close-svg {
}
.signin-form {
}
.js-signin-form {
}
.contacts-feedback {
}
.log-name {
}
.log-mail {
}
.log-password {
}
.sing-btn {
}
.sign {
}
