.tui-page-btn {
    border-radius: 50%;
    margin: 10px;
    height: 44px;
}

.tui-pagination .tui-page-btn {
    width: 44px;
    padding: 13px;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    font-style: DM Sans;
}

.tui-pagination .tui-next {
    margin-left: 24px;
    height: 44px;
}

.tui-pagination .tui-first {
    height: 44px;
}

.tui-pagination .tui-prev {
    margin-right: 24px;
    height: 44px;
}

.tui-pagination .tui-last {
    height: 44px;
}