.shopping_list-section {
  width: 100%;
}
.shopping_list-title {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
  color: var(--black-color);

  @media only screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1;
  }
}

.violet {
  color: var(--violet-color);
}

.book-column-img {
  margin: 0 auto;
  width: 265px;
}

// .shopping_list {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   gap: 20px;
// }

.shopping_list-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);

  @media only screen and (min-width: 768px) {
    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: 1.33;
  }
  @media only screen and (min-width: 1440px) {
    margin-left: 315px;
  }
}

.shopping_list-empty-text {
  margin-right: auto;
  margin-left: auto;
  width: 265px;
  margin-top: 120px;
  @media only screen and (min-width: 768px) {
    width: 349px;
    margin-top: 140px;
  }
}
.shopping_list-wrapper {
  display: flex;

  flex-direction: column;
  gap: 20px;
}

.shopping-list-book-item {
  display: flex;
  position: relative;
  gap: 14px;
  padding: 12px;

  border: 2px rgba(79, 46, 232, 0.4) solid;
  border-radius: 16px;
}

// .shopping-list {
//   position: relative;
// }

.btn-dump {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  @media only screen and (min-width: 768px) {
    
  }
  @media only screen and (min-width: 1440px) {
    
  }
}

.icon-dump {
  
  width: 28px;
  height: 28px;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.shop-list-item-img {
  width: 100px;
  height: 142px;
}

.shop-list-description-wrapper {
  text-align: left;
}

.shop-list-item-title {
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  color: var(--black-color);
}

.shop-list-item-category {
  margin-bottom: 8px;

  color: var(--grey-color);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
}

.shop-list-item-description {
  // margin-bottom: 30px;

  color: var(--black-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
.shop-list-item-author {
  color: var(--grey-color);

  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.buy-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-list-shop {
  display: flex;
  gap: 8px;
}
