.shopping_list-section {
  width: 100%;
}
.shopping_list-title{
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
  color: var(--black-color);
}

.violet {
  color: var(--violet-color);
}

.book-column-img {
  margin: 0 auto;
  width: 265px;
}

.shopping_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


