<div class="funds js-funds">
  <div class="title-container">
    <h2 class="funds-title">Support Ukraine</h2>
    <svg width="20" height="32">
      <use href="/src/images/icons.svg#icon-gerb"></use>
    </svg>
  </div>

  <ol class="funds-list" id="slider"></ol>

  <button class="down-scroll funds-scroll-btn" aria-label="scroll down">
    <svg class="funds-icon" width="32" height="32">
      <use href="/src/images/icons.svg#icon-arrow-down-slider-funds"></use>
    </svg>
  </button>

  <button
    class="up-scroll funds-scroll-btn visually-hidden"
    aria-label="scroll down"
  >
    <svg class="funds-icon" width="32" height="32">
      <use href="/src/images/icons.svg#icon-arrow-down-slider-funds"></use>
    </svg>
  </button>
</div>
