<header class="header open">
  <div class="header-container container">
    <div>
      <div class="part-one">
        <a class="logo link" href="./index.html">
          <svg class="header__logo-name" width="24" height="24">
            <use href="/src/images/icons.svg#icon-logo-no-text"></use>
          </svg>
          Bookshelf
        </a>

        <ul class="menu list">
          <li class="menu-item">
            <a class="menu-link link js-index_menu" href="./index.html">Home</a>
          </li>
          <li class="menu-item">
            <a class="menu-link link js-list_menu" href="./list.html">
              Shoping list
              <svg width="16" height="16" class="icon-shoping-list menu-link">
                <use href="/src/images/icons.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-right">
      <label class="switch">
        <input class="theme js-theme" type="checkbox" />
        <span class="switch-slider"></span>
      </label>
      <div class="part-two">
        <button class="log-desc-tab">
          <svg class="user-icon" width="37" height="37">
            <use href="/src/images/icon-user.svg#icon-user"></use>
          </svg>
          Name
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="26"
            viewBox="0 0 23 26"
            fill="none"
          >
            <path
              d="M4.79175 9.75H18.2084L12.1776 16.5674C11.9979 16.7705 11.7542 16.8846 11.5001 16.8846C11.246 16.8846 11.0023 16.7705 10.8225 16.5674L4.79175 9.75Z"
              fill="white"
            />
          </svg>
        </button>

        <!-- <button class="registration">
          Sign up
          <svg class="header__registr-icon" width="20" height="20">
            <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
  
        <button class="log-out">
          Log out
          <svg class="header__unregistr-icon" width="20" height="20">
            <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button> -->
      </div>
    </div>
    <button
      class="header__toggle js-open-menu"
      aria-expanded="false"
      aria-label="mobile-menu"
    >
      <svg class="" width="24" height="24">
        <use href="/src/images/icons.svg#icon-align-left"></use>
      </svg>
    </button>
  </div>
  <include src="./partials/mobile-menu.html"></include>
</header>
