<header class="header">
  <div class="header-container container">
    <div>
      <div class="part-one">
        <a class="logo link" href="./index.html">
          <svg class="header__logo-name" width="24" height="24">
            <use
              href="/src/images/icons.svg#icon-logo-no-text"
            ></use></svg>Bookshelf</a   >

        <ul class="menu list">
          <li class="menu-item">
            <a class="menu-link link" href="./index.html">Home</a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="./list.html">Shoping list</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="part-two">
      <label class="switch">
        <input class="theme js-theme" type="checkbox" />
        <span class="switch-slider"></span>
      </label>
      <a href="">
        <div class="registration">
          <div class="sign-up">Sign up</div>
          <svg class="header__registr-icon" width="20" height="20">
            <use
              href="/src/images/icons.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
  <include src="./partials/mobile-menu.html"></include>
</header>
